.list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #cbf3f0;
    border: 1px solid black;
    padding: 1rem;
    flex-grow: 1;
    max-height: calc(100vh * 0.7);
}

.list__title {
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.list__notes {
    overflow-y: scroll;
}
.list__notes::-webkit-scrollbar {
    background-color: #cbf3f0;
    width: 1rem;
    /* border: 1px solid #2ec4b6; */
    border-radius: 0.5rem;
}
.list__notes::-webkit-scrollbar-thumb {
    background-color: #2ec4b6;
    border: 0.3rem solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    background-clip: padding-box;
}

.list__button {
    background-color: #ffbf69;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    padding: 1rem;
    z-index: 10;
}

.list__button:hover {
    cursor: pointer;
    background-color: #ff9f1c;
}

@media only screen and (max-width: 1200px) {
    .list {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        gap: 1rem;
    }
}
