.toast-notification__window {
    position: fixed;
    box-sizing: border-box;
    bottom: 1rem;
    right: 1rem;

    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
}

.toast-notification__container {
    /* position: absolute; */
    background-color: white;
    border: 1px solid black;
    height: 4rem;
    width: 10rem;
    margin: 1rem 2rem;
    padding: 0.5rem 0.5rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-notification__cancel {
    align-self: flex-start;
}
.toast-notification__message {
    font-weight: bolder;
}
