.header {
    background-color: #2ec4b6;
    /* padding: 1rem 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    font-family: sans-serif;
}

.header__link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.header__link:hover {
    cursor: pointer;
    font-weight: 700;
}

.header__list {
    display: inline-flex;
    column-gap: 2rem;
}
