.App {
    background: linear-gradient(#2ec4b6, white);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
}

.lists-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2rem;
    margin-bottom: 4rem;
}
